{% extends 'base.html' %}

{% block content %}
{% load static %}



<style>
table {
  width:100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 25px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>


<div class="row">
  <div class="column" style="background-color:white;">
    <h2>Create POst</h2>
    <form action="{% url 'join_tour_manage' pk=tour.pk %}" method="post">
        {% csrf_token %}
<textarea name="post" cols="50" rows="5">

</textarea>
<br />
<input type="submit" />
</form>

  </div>
  <div class="column" style="background-color:white;">
    <h2>Tour Schedule</h2>

<table id="t01">
  <tr>
    <th>Day</th>
    <th>Time</th>
    <th>Task</th>
  </tr>
    {% for s in sch %}
  <tr>
    <td>{{ s.day }}</td>
    <td>{{ s.time }}</td>
    <td>{{ s.task }}</td>
  </tr>
    {% endfor %}
</table>

  </div>

</div>
{% for p in post %}
<div align="center" class="card">
  <div class="">
    {{ p.time }}
  </div>
  <div class="">
    <h6 class="">{{ p.user }}</h6>
    <p class="">{{ p.post }}</p>
  </div>
</div>

{% endfor %}



{% endblock %}
