{% extends 'base.html' %}
{% block title %} Registration {% endblock %}
{% block singup %}
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'registration' %}"> Registration </a>
    </li>
{% endblock %}


{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'auth/logreg.css' %}">

    <div class="modal-dialog text-center">

        <div class="col-8 main-section">
            <div class="modal-content">

                <div class="col-12 user-img">

                     <img src="{% static 'image/face.png'  %}">
                    <form class="col-12" action="{% url 'registration' %} " method="POST">
                        {% csrf_token %}
                        <p style="text-align:center;color:yellow"><b> {{ error_pass }} {{user_error}} </b></p>

                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Input Your Name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder=" Input Your Mail " required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password1" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
                        </div>





                        <button type="submit" class="btn"><i class="fas fa-sign-in-alt">Registration</i></button>
                    </form>

                </div>

            </div>
            </div>

        </div>

{% endblock %}
